/* File Created: July 22, 2012 */


/*body {
    background-image: url('images/dark_wall.png');
}*/

.chatBox {
    overflow: auto;
    margin-left: 1px;
    height: 450px;
    -moz-border-radius: 0px 0px 9px 9px;
    -webkit-border-radius: 0px 0px 9px 9px;
    border-radius: 0px 0px 9px 9px;
    background-color: white;
    -moz-box-shadow: 0px 0px 6px #888;
    -webkit-box-shadow: 0px 0px 6px #888;
    box-shadow: 0px 0px 6px #888;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -moz-opacity: 1;
    opacity: 1;
}

.chatList 
{
    color: rgb(0, 0, 0);
    font-weight: 500;
	list-style: none;
	font-size: 16px;
	font-family: 'Arial', sans-serif;
}

.chatList li {
	margin-top: 5px; 
	}

.Tilt {
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #424242;
    -moz-opacity: 0.80;
    opacity: 0.80;
    filter: alpha(opacity=80);
}

.overlay h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    margin: -82px 0 0 -160px;
    color: white;
    -webkit-text-shadow: 3px 3px 4px black;
    text-shadow: 3px 3px 4px black;
    font-size: 50pt;
    line-height: 50px;
}

input[type=text] {
    margin-top: 10px;
}

.userList li
{
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    margin-top: 5px;
    padding: 0.5em 1em;
    border: 1px solid #D4D4D4;
    text-decoration: none;
    -webkit-text-shadow: 1px 1px 0 white;
    text-shadow: 1px 1px 0 white;
    color: #333;
    outline: none;
    background-color: #ECECEC;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F4F4F4), to(#ECECEC));
    background-image: -moz-linear-gradient(#F4F4F4, #ECECEC);
    background-image: -o-linear-gradient(#F4F4F4, #ECECEC);
    background-image: linear-gradient(#F4F4F4, #ECECEC);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    background-clip: padding;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    zoom: 1;
}