@{
    ViewBag.Title = ViewData["Title"];
}

<div style="margin: auto; width: 450px;">
    
    <span style="float:left; background: url('../../img/1351032181_bullet_deny.png'); width: 128px; height: 128px;">
    </span>
    <p style="font-size:29px; float:left; margin-top: 45px;">
        @ViewData["ErrorType"]
        @ViewData["ErrorMessage"]
    </p>

</div>